// コンセプトページ
@use '../2-tools/mixin' as *;

// Component
.p-component {
    padding-block: 64px;

    .c-sectionTitle {
        margin-bottom: 56px;
    }

    &__text {
        font-size: 1.5rem;
        margin-bottom: 40px;
        text-align: center;

        p {
            line-height: 1.7;

            &:not(:first-child) {
                margin-top: 8px;
            }
        }
    }

    &__list {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // gap: 24px;
        list-style: none;
        padding-inline-start: 0;
        margin: 0;
        margin-bottom: -24px;
    }

    &__listItem {
        padding-bottom: 24px;
        text-align: center;
        font-size: 1.5rem;

        img {
            border-radius: 50%;
            margin-bottom: 16px;
        }
    }
}

// Promise
.p-promise {
    padding-block: 64px;
    background-color: var(--base-color);

    .c-sectionTitle {
        margin-bottom: 56px;
    }

    &__list {
        margin: 0;
        padding-bottom: 25px;

        @include mq {
            padding-bottom: 0;
            margin-bottom: -40px;
        }
    }

    &__listItem {
        background-color: var(--white);
        border: 1px solid var(--main-color);
        border-radius: 8px;
        position: relative;
        top: 25px;

        &:not(:last-child) {
            // margin-bottom: 57px; // margin 32px + Number 25px
        }

        @include mq {
            margin-bottom: 65px;
        }
    }

    &__listNumber {
        height: 50px;
        width: 50px;
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        font-family: var(--fony-family-en);
        font-size: 3rem;
        text-align: center;
        color: var(--white);
        background-color: var(--main-color);
        border-radius: 50%;
    }

    &__listTitle {
        margin: 0;
        margin-block: 40px 16px;
        font-size: 1.5rem;
        color: var(--main-color);
        text-align: center;
    }

    &__listText {
        margin: 0 24px 24px;
        font-size: 1.5rem;
    }
}