// FAQページ
@use '../2-tools/mixin' as *;

.p-faq {
    padding-block: 64px;

    .c-sectionTitle {
        padding-bottom: 56px;
    }

    &__text {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 32px;
    }

    &__list {
        @include mq {
        padding-inline: 100px;
    }
    }

    &__listItem {
        &:not(:last-child) {
            margin-bottom: 24px;
        }

    }

    &__listQ {
        position: relative;
        display: flex;
        align-items: center;
        height: 45px;
        background-color: var(--sub-color1);
        padding-right: 45px;
        
        p {
            padding-left: 16px;
            color: var(--main-color);
        }   
    }

    &__listBtn {
        position: absolute;
        right: 0;
        width: 45px;
        height: 45px;
        background-color: var(--main-color);
        cursor: pointer;

        &::before,&::after {
            content: '';
            position: absolute;
            width: 23px;
            height: 1px;
            background-color: var(--white);
            top: 50%;
            left: 11px;
        }

        &::after {
            transform: rotate(90deg);
        }

        &.is-open::after {
            opacity: 0;
            transition: .1s;
        }
    }

    &__listA {
        overflow: hidden;
        height: 0;
        transition: .5s;
        opacity: 0;

        &.is-open {
            padding-top: 24px;
            height: fit-content;
            opacity: 1;
        }

        @starting-style {
            &.is-open {
                height: 0;
            }

        }
    }
}