// 製品詳細ページ
@use '../2-tools/mixin' as *;

.p-productDetail {
    padding-block: 64px;

    .c-sectionTitle {
        padding-bottom: 56px;
    }

    &__list {
        padding-block: 32px;

        @include mq {
            padding: 0;
        }
    }

    &__text {
        font-size: 1.5rem;
        padding-bottom: 24px;
    }

    &__title {
        padding-bottom: 24px;
    }

    &__titleJa {
        font-size: 2.2rem;
        font-weight: 500;
    }

    &__titleEn {
        font-family: var(--font-family-en);
        font-size: 2rem;
        letter-spacing: 0.1rem;
        color: var(--gray1);
    }

    &__volume {
        font-size: 1.5rem;
        padding-bottom: 16px;
    }

    &__price {
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        color: var(--main-color);
        padding-bottom: 32px;
    }

    &__link {
        text-align: center;

        @include mq {
            text-align: start;
        }
    }

    &__description {
        margin: 0;
       dt {
        margin-bottom: 24px;
       }
       dd {
        margin: 0;
        font-size: 1.5rem;
       }
    }

    &__descriptionItem {
        &:not(:last-child) {
            padding-bottom: 32px;
            @include mq {
                padding-bottom: 0;
            }
        }
    }

    @include mq {
        &__introduction {
            display: flex;
            column-gap: 40px;
            padding-bottom: 32px;
        }
    }
}