// 製品情報ページ
@use '../2-tools/mixin' as *;

// 製品一覧
.p-productItem {
   padding-block: 64px;

   .c-sectionTitle {
      margin-bottom: 56px;
   }

   &__list {
      list-style: none;
      margin: 0;
      padding-inline-start: 0;
   }

   &__listItem {
      position: relative;

      &:not(:last-child) {
         margin-bottom: 40px;
      }
   }

   &__listItem--alter {
      flex-direction: row-reverse;

      .p-productItem__listdescription {
         left: 0;
         right: auto;
      }
   }


   &__listImg {
      width: calc(100% + 48px);
      margin-left: -24px;
      margin-right: -24px;

      @include mq {
         width: calc(var(--col-width) *8 *1% + var(--col-gap) *7 *1% + 24px);
      }
   }

   &__listdescription {
      margin-top: -24px;
      padding: 24px;
      background-color: rgba(255, 255, 255, .7);
      z-index: 1;

      @include mq {
         position: absolute;
         margin: 0;
         top: 50%;
         transform: translateY(-50%);
         width: calc(var(--col-width) *5 *1% + var(--col-gap) *4 *1%);
         right: 0;
         margin-inline: calc(var(--col-width) *1% + var(--col-gap) *1%);
      }
   }

   &__listTitle {
      border-bottom: solid 2px var(--text-color);

      @include mq {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-bottom: 18px;
      }
   }

   &__listTitleJa {
      font-size: 2.2rem;
      font-weight: 500;
      text-align: center;
      padding-bottom: 14px;
   }

   &__listTitleEn {
      font-size: 1.4rem;
      font-family: var(--fony-family-en);
      text-align: center;
      padding-bottom: 16px;
      letter-spacing: 0.1rem;
   }

   @include mq {

      &__listTitleJa,
      &__listTitleEn {
         padding-bottom: 0;
      }
   }

   &__listText {
      margin-inline-start: 0;
      padding-block: 24px;
      font-size: 1.5rem;
   }

   &__listLink {
      text-align: center;
      margin-inline-start: 0;
   }
}