// 製品情報ページ
@use '../2-tools/mixin' as *;

// 製品一覧
.p-productItem {
     padding-block: 64px;

     .c-sectionTitle {
         margin-bottom: 56px;
     }

     &__list {
        list-style: none;
        margin: 0;
        padding-inline-start: 0;
     }

     &__listItem {

        &:not(:last-child) {
            margin-bottom: 40px;
        }
     }

     &__listdescription {
        position: relative;
        top: -24px;
        background-color: var(--white);
        opacity: 70%;
        margin-inline: 24px;
        padding: 24px;
     }
}